# MongoDB Atlas (ganti dengan connection string dari Atlas dashboard)
MONGO_URI=mongodb+srv://binustugas_user:binustugas@webbinus.jcoenac.mongodb.net/?appName=webbinus
PORT=3004
JWT_SECRET='X9vQ2mLp7TaK4zNc8RwY1uHd5FsJe3Bg'
JWT_EXPIRES_IN=7d
